<div class="user-card">
    <h2 class="user-card__account-number">#{{ user.account.number | mask: '000000-0' }}</h2>
    <span class="user-card__name">{{ user.name }}</span>
    <div class="user-card__account-container">
        <div class="user-card__account-info">
            <p class="user-card__account-info-limit"> 
                Limit: 
                <span>{{ user.account.limit | currency }}</span>
            </p>
            <p class="user-card__account-info-balance"> 
                Balance: 
                <span>{{ user.account.balance | currency }}</span>
            </p>
        </div>
        <button class="user-card__details-btn" (click)="showDetails()">Details</button>
    </div>
</div>
