@use "../../../scss/variables" as v;

.user-card {
    background-color: v.$white;
    padding: 1.375rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 10px;
    &__account-number {
        font-size: 15px;
        font-weight: bold;
    }
    &__name {
        grid-area: 1 / 2;
        justify-self: end;
        font-size: 13px;
        color: v.$slate;
    }
    &__account-container {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__account-info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &-limit, &-balance {
            font-size: 13px;
            color: v.$slate;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
        &-balance {
            color: v.$eclipse;
            font-weight: bold;
        }
    }
    &__details-btn {
        background-color: v.$green-opacity;
        color: v.$green;
        font-weight: bold;
        font-size: 15px;
        padding: .875rem;
        border: none;
        border-radius: 10px;
        transition: color .3s ease, background-color .3s ease;
        cursor: pointer;
        &:hover {
            background-color: v.$green;
            color: v.$white;
        }
    }
}

@media screen and (min-width: 768px) {
    .user-card {
        padding: 1.875rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__account-number {
            font-size: 18px;
        }
        &__name {
            justify-self: center;
            font-size: 15px;
        }
        &__account-container {
            gap: 2.5rem;
        }
        &__account-info {
            &-limit, &-balance {
                font-size: 15px;
            }
        }
        &__details-btn {
            font-size: 18px;
            padding: .875rem 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .user-card {
        justify-content: space-between;
        &__account-number {
            font-size: 1.25rem;
            flex: 1 1;
        }
        &__name {
            font-size: 1.25rem;
            flex: 1 1;
        }
        &__account-container {
            flex: 1 1;
        }
        &__account-info {
            &-limit, &-balance {
                font-size: 1.125rem;
            }
        }
        &__details-btn {
            margin-left: 2rem;
            font-size: 20px;
        }
    }
}