<div class="user-details">
    <h2 mat-dialog-title class="user-details__title">User details</h2>
    <button matDialogClose class="user-details__btn-close">
        <img src="images/close-btn-icon.svg" alt="">
    </button>

    <div class="user-details__info">
        <p class="user-details__info-data">Name: 
            <span>{{ data.name }}</span>
        </p>
        <p class="user-details__info-data">Account number: 
            <span>{{ data.account.number }}</span>
        </p>
        <p class="user-details__info-data">Account agency:
            <span>{{ data.account.agency }}</span>
        </p>
        <p class="user-details__info-data">Balance: 
            <span>{{ data.account.balance | currency }}</span>
        </p>
        <p class="user-details__info-data">Limit: 
            <span>{{ data.account.limit | currency }}</span>
        </p>
        <p class="user-details__info-data">Card number: 
            <span>{{ data.card.number }}</span>
        </p>
        <p class="user-details__info-data">Card limit: 
            <span>{{ data.card.limit | currency }}</span>
        </p>
        <p class="user-details__info-data">Features: 
            <span *ngFor="let feature of data.features">{{ feature.description }}</span>
        </p>
        <p class="user-details__info-data">News: 
            <span *ngFor="let news of data.news">{{ news.description }}</span>
        </p>
    </div>
    
    <mat-dialog-actions>
        <button class="user-details__action-btns" >Edit user</button>
        <button class="user-details__action-btns" >Delete user</button>
    </mat-dialog-actions>
</div>
