<section class="users-list">
    <div class="users-list__header">
        <div class="users-list__header-text">
            <h2>Users</h2>
            <p>7 users</p>
        </div>
        <span class="users-list__filter">
            Filter
            <img src="images/arrow.svg" alt="">
        </span>
        <button class="users-list__add-new-user-btn">
            <img src="images/plus-icon.svg" alt="">
            New
        </button>
    </div>

    <div class="users-list__users-card">
        <app-user-card></app-user-card>
    </div>
</section>
