@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.users-list {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        &-text {
            display: flex;
            flex-direction: column;
            gap: .1875rem;
        }
    }
    &__filter {
        margin-left: auto;
    }
    &__add-new-user-btn {
        @include m.buttonStyle();
        img {
            background-color: v.$white;
            padding: 10px;
            border-radius: 50%;
        }
    }
    &__users-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
            text-align: center;
            margin: 1rem;
        }
    }
}