<section class="users-list">
    <div class="users-list__header">
        <div class="users-list__header-text">
            <h2>Users</h2>
            <p *ngIf="(users$ | async)"> {{ (users$ | async)?.length }} users </p>
        </div>
        <span class="users-list__filter">
            Filter
            <img src="images/arrow.svg" alt="">
        </span>
        <button class="users-list__add-new-user-btn" routerLink="/register-user">
            <img src="images/plus-icon.svg" alt="">
            New
        </button>
    </div>

    <div class="users-list__users-card">
        @for (user of users$ | async; track $index) {
            <app-user-card [user]="user"></app-user-card>
        } @empty {
            <p>No users found</p>
        }
        
    </div>
</section>
