<button class="go-back-btn" routerLink="/users">
    <img src="images/arrow.svg" alt="">
    Go back
</button>

<form class="form" [formGroup]="createUserForm" >

    <h2 class="form__title">{{ typeForm === 'register' ? 'New user' : 'Edit user' }}</h2>

    <div class="form__fields-container">

        <h3>Account information</h3>

        <div class="form__field">
            <label for="name">Name</label>
            <input 
                type="text" id="name" formControlName="name" 
                [ngClass]="{ 'error-state': name.touched && name.hasError('required') }" mask="S*" [validation]="false" [patterns]="customPatterns">
            <span @errorMsg class="form__field-error-msg" *ngIf="name.touched && name.hasError('required')">This field is required</span>
        </div>

        <ng-container formGroupName="account">

            <div class="form__field" *ngIf="typeForm === 'register'">
                <label for="agency">Agency</label>
                <input 
                    type="text" id="agency" formControlName="agency" 
                    [ngClass]="{ 
                        'error-state': accountAgency.touched && (accountAgency.hasError('required') || accountAgency.hasError('minlength'))
                    }" mask="0000">
                <span @errorMsg class="form__field-error-msg" *ngIf="accountAgency.touched && accountAgency.hasError('required')">This field is required</span>
                <span @errorMsg class="form__field-error-msg" *ngIf="accountAgency.touched && !accountAgency.hasError('required') && accountAgency.hasError('minlength')">Must have 4 digits</span>
            </div>

            <div class="form__field" *ngIf="typeForm === 'register'"> 
                <label for="number">Account Number</label>
                <input type="text" id="number" formControlName="number"
                [ngClass]="{ 
                    'error-state': accountNumber.touched && (accountNumber.hasError('required') || accountNumber.hasError('minlength'))
                }" mask="000000-0">
                <span @errorMsg class="form__field-error-msg" *ngIf="accountNumber.touched && accountNumber.hasError('required')">This field is required</span>
                <span @errorMsg class="form__field-error-msg" *ngIf="accountNumber.touched && !accountNumber.hasError('required') && accountNumber.hasError('minlength')">Must have 7 digits</span>
            </div>

            <div class="form__field" *ngIf="typeForm === 'register'">
                <label for="balance">Balance</label>
                <input type="text" id="balance" formControlName="balance"
                [ngClass]="{ 
                    'error-state': accountBalance.touched && accountBalance.hasError('required')
                }" mask="separator.2" thousandSeparator="." prefix="R$ ">
                <span @errorMsg class="form__field-error-msg" *ngIf="accountBalance.touched && accountBalance.hasError('required')">This field is required</span>
            </div>

            <div class="form__field">
                <label for="limit">Limit</label>
                <input type="text" id="limit" formControlName="limit"
                [ngClass]="{ 
                    'error-state': accountLimit.touched && accountLimit.hasError('required')
                }" mask="separator.2" thousandSeparator="." prefix="R$ ">
                <span @errorMsg class="form__field-error-msg" *ngIf="accountLimit.touched && accountLimit.hasError('required')">This field is required</span>
            </div>

        </ng-container>

        <h3>Card information</h3>

        <ng-container formGroupName="card">
            <div class="form__field" *ngIf="typeForm === 'register'">
                <label for="cardNumber">Card Number</label>
                <input type="text" id="cardNumber" formControlName="number"
                [ngClass]="{ 
                    'error-state': cardNumber.touched && (cardNumber.hasError('required') || cardNumber.hasError('minlength'))
                }" mask="0000 0000 0000 0000">
                <span @errorMsg class="form__field-error-msg" *ngIf="cardNumber.touched && cardNumber.hasError('required')">This field is required</span>
                <span @errorMsg class="form__field-error-msg" *ngIf="cardNumber.touched && !cardNumber.hasError('required') && cardNumber.hasError('minlength') ">Must have 16 digts</span>
            </div>
            <div class="form__field">
                <label for="cardLimit">Card Limit</label>
                <input type="text" id="cardLimit" formControlName="limit"
                [ngClass]="{ 
                    'error-state': cardLimit.touched && cardLimit.hasError('required')
                }" mask="separator.2" thousandSeparator="." prefix="R$ ">
                <span @errorMsg class="form__field-error-msg" *ngIf="cardLimit.touched && cardLimit.hasError('required')">This field is required</span>
            </div>
        </ng-container>

        <ng-container formArrayName="features" *ngIf="typeForm === 'register'">
            <h4>Features</h4>
            <div 
                class="form__field" 
                *ngFor="let feature of features.controls; let i = index" [formGroupName]="i">
            <label for="feature-{{ i }}">
                Description 
                <button (click)="removeFeature(i)" class="form__remove-feature-or-news-btn">
                    <img src="images/close-btn-icon-red.svg" alt="">
                </button>
            </label>
                <input type="text" id="feature-{{ i }}" formControlName="description">
            </div>      
            <button (click)="addFeature()" class="form__add-feature-or-news-btn">Add new feature</button>
        </ng-container>

        <ng-container formArrayName="news" *ngIf="typeForm === 'register'">
            <h4>News</h4>
            <div 
                class="form__field" 
                *ngFor="let newsItem of news.controls; let j = index" [formGroupName]="j">
            <label for="news-{{ j }}">
                Description 
                <button (click)="removeNews(j)" class="form__remove-feature-or-news-btn">
                    <img src="images/close-btn-icon-red.svg" alt="">
                </button>
            </label>
                <input type="text" id="news-{{ j }}" formControlName="description">
            </div>      
            <button (click)="addNews()" class="form__add-feature-or-news-btn">Add news</button>
        </ng-container>
        
        
    </div>

    <button 
        type="submit" 
        class="form__submit-btn" 
        *ngIf="typeForm === 'register'" 
        (click)="createUser(createUserForm.value)"
        [disabled]="createUserForm.invalid"
        >
        Create user
    </button>
    <button 
        type="submit" 
        class="form__confirm-changes-btn" 
        *ngIf="typeForm === 'edit'" 
        (click)="editUser(createUserForm.value)"
        [disabled]="name.untouched && accountLimit.untouched && cardLimit.untouched"
        >Confirm changes
    </button>

</form>
