@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.go-back-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 2rem 1.5rem;
    img {
        transform: rotate(90deg);
        position: relative;
        top: -1px;
    }
}

.form {
    padding: 0 1.5rem;
    &__title {
        margin-bottom: 2rem;
    }
    &__field {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        position: relative;
        
        .error-state {
            border-color: v.$crimson;
        }
        label {
            font-size: 16px;
            line-height: 15px;
            color: v.$steel;
        }
        input {
            border: 1px solid v.$soft-blue;
            border-radius: 4px;
            padding: 1rem;
            &:invalid {
                border-color: v.$crimson;
            }
        }
        &-error-msg {
            padding: .15rem;
            color: v.$crimson;
            position: absolute;
            bottom: -22px;
            right: 2px;
        }
    }
    &__fields-container {
        display: grid;
        gap: 1.5rem;
    }
    &__submit-btn, &__confirm-changes-btn, &__add-feature-or-news-btn {
        @include m.buttonStyle();
    }
    &__remove-feature-or-news-btn {
        background-color: transparent;
        border: none;
        position: absolute;
        bottom: 10px;
        right: 12px;
        cursor: pointer;
        img {
            width: 20px;
        }
    }
    &__submit-btn, &__confirm-changes-btn {
        padding: .75rem;
        justify-self: flex-end;
        margin: 1.5rem 0;
    }
    &__confirm-changes-btn {
        margin: 3rem 0 1.5rem;
    }
    &__add-feature-or-news-btn {
        width: fit-content;
        justify-self: center;
        background-color: v.$steel;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .go-back-btn {
        gap: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 48px;
    }
    .form {
        max-width: 500px;
        margin: auto;
        &__title {
            font-size: 2.25rem;
        }
        &__field {
            gap: .5rem;
            label {
                font-size: 1.125rem;
            }
            input {
                font-size: 1.125rem;
                padding: 1.25rem;
            }
        }
        &__fields-container {
            gap: 1.75rem;
        }
        &__remove-feature-or-news-btn {
            bottom: 17px;
            right: 15px;
            img {
                width: 22px;
            }
        }
        &__submit-btn, &__confirm-changes-btn {
            padding: 1rem;
        }
        &__add-feature-or-news-btn {
            padding: .75rem 1rem;
        }
    }
}
@media screen and (min-width: 768px) {
    .go-back-btn {
        margin-left: 4rem;
    }
}