@font-face {
    font-family: "League Spartan";
    src: url(../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

$League-Spartan: "League Spartan", sans-serif;
$indigo: #7C5DFA;  
$lavender: #9277FF;  
$navy: #1E2139;  
$charcoal: #252945;  
$soft-blue: #DFE3FA;  
$green: #33d6a0;
$green-opacity: #33d6a025;
$soft-blue-opacity: #dfe3fa43;  
$slate: #888EB0;  
$steel: #7E88C3;  
$midnight: #0C0E16;  
$crimson: #EC5757;  
$coral: #FF9797;  
$snow: #F8F8FB;  
$white: #ffffff;  
$eclipse: #141625;  